doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Thong tin sinh vien
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' )
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js')
  script(src='/js/index.jquery.js')
body
  .container
    br
    a.btn.btn-primary(href='#') Th&ecirc;m sinh vi&ecirc;n
    br
    br
    table.table
      thead
        tr
          th(scope='col') M&atilde; sinh vi&ecirc;n
          th(scope='col') T&ecirc;n sinh vi&ecirc;n
          th(scope='col') N&abreve;m Sinh
      tbody
      each item in listsv
        tr
          th(scope='row')= item.masinhvien
          td= item.tensinhvien
          td= item.ngaysinh
          td
              a.btn.btn-primary(href=`/index/${item.id}` style='margin-right:10px') Xem chi ti&#x1EBF;t
              a.btn.btn-danger(href=`/sinhvien/sv/${item.id}`) X&oacute;a sinh vi&ecirc;n
      
